<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="employee in employees">
    <div class="panel panel-default employee-list-item">
        <div class="panel-body"><span class="icon-container"><i class="fa fa-3x fa-group"></i></span>
            <span class="h4">{{employee.name.last}}, {{employee.name.first}}</span>
            <a href="#employees/{{employee.id}}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> VIEW</a>
        </div>
    </div>
</div>