<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="team in teams">
    <div class="panel panel-default employee-list-item">
        <div class="panel-body"><span class="icon-container"><i class="fa fa-3x fa-group"></i></span>
            <span class="h4">{{team.name}}</span>
            <a href="#teams/{{team._id}}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> VIEW</a>
        </div>
    </div>
</div>