<ul class="breadcrumb">
    <li><a href="#teams">Teams</a></li>
    <li class="active">{{team.name}}</li>
</ul>
<div>
    <h3>{{team.name}}</h3>
</div>
<div>
    <h4>Team Members</h4>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="employee in team.members">
    <div class="panel panel-default employee-list-item">
        <div class="panel-body">
            <span class="icon-container"><i class="fa fa-user fa-3x"></i></span>
            <span class="h4">{{employee.name.last}}, {{employee.name.first}}</span>
            <a href="#employees/{{employee.id}}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> View</a>
        </div>
    </div>
</div>